/**
  * Global to the NodeMaker admin sections
  */
#overlay #branding div.breadcrumb {
  float: none;
  display: block;
}
#overlay ul.secondary {
  float: none;
  display: block;
  margin: 0;
  padding: 0;
}
#overlay ul.secondary li {
  margin: 0 5px 5px 0;
  display: inline-block;
  *display: inline;
}


/**
  * Main app page at admin/nodemaker/apps
  */
#nodemaker-apps {
  margin: 0 0 0 0;
}

#nodemaker-apps li {
  list-style-type: none;
  margin: 0 0 20px 0;
  display: inline-block;
  *display: inline;
  width: 100%;
}

.nodemaker-icon-link {
  float: left;
  width: 180px;
  height: 180px;
  position: relative;
  display: block;
  margin-right: 10px;
}

.nodemaker-icon {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.nodemaker-app-details {
  padding-left: 190px;
}

.nodemaker-app-details h4 {
  font-size: 18px;
  margin-top: 0;
}



/**
  * Individual app pages at admin/nodemaker/apps/XXX
  */
.vertical-tabs-panes .nodemaker-app-info .fieldset-wrapper > div:first-child {
  border: 1px solid #CCC;
  margin-bottom: 10px;
  padding-top: 0px;
}

.nodemaker-app-info {
  font-size: 12px;
  line-height: 18px;
}

.nodemaker-app-screenshot {
  position: relative;
  max-width: 100%;
  width: 100%; 
  display: block;
}

.nodemaker-app-screenshot img {
  position: relative;
  max-width: 100%;
  width: 100%; 
  display: block;
}

.nodemaker-app-description {
  background: #EEE;
  padding: 10px;
  border-top: 1px solid #CCC;
}

.item-list ul.nodemaker-app-help li {
  margin-bottom: 15px;
}
.item-list ul.nodemaker-app-help strong {
  display: block;
}
.item-list ul.nodemaker-app-help li li {
  margin-bottom: 5px;
}

/**
  * Action buttons
  */
.nodemaker-actions {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
  background-repeat: repeat-x;
  border-color: #E6E6E6 #E6E6E6 #A2A2A2;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 0;
  padding: 4px 14px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

.nodemaker-actions:hover {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F5F5F5);
  text-decoration: none;
}

.nodemaker-actions.disable {
  background-color: #FAA732;
  background-image: -moz-linear-gradient(center top, #fbb450 0%, #FAA732 100%);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nodemaker-actions.disable:hover {
  background-color: #FAA732;
  background-image: -moz-linear-gradient(center top , #FAA732, #FAA732);
  color: #FFFFFF;
  text-decoration: none;
}

.nodemaker-actions.enable {
  background-color: #5BB75B;
  background-image: -moz-linear-gradient(center top , #62C462, #5BB75B);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nodemaker-actions.enable:hover {
  background-color: #5BB75B;
  background-image: -moz-linear-gradient(center top , #5BB75B, #5BB75B);
  color: #FFFFFF;
  text-decoration: none;
}

.nodemaker-actions.uninstall {
  background-color: #DA4F49;
  background-image: -moz-linear-gradient(center top , #EE5F5B, #DA4F49);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nodemaker-actions.uninstall:hover {
  background-color: #DA4F49;
  background-image: -moz-linear-gradient(center top , #DA4F49, #DA4F49);
  color: #FFFFFF;
  text-decoration: none;
}

.item-list ul.nodemaker-item-actions,
#nodemaker-apps .item-list ul.nodemaker-item-actions {
  margin: 0 0 0 0;  
}

.item-list ul.nodemaker-item-actions li,
#nodemaker-apps .item-list ul.nodemaker-item-actions li {
  width: auto;
  display: inline-block;
  *display: inline;
}





/**
  * Getting Sarted page
  */
#nodemaker-intro img {
  float: left;
  margin-right: 20px;
}

#nodemaker-intro .nodemaker-intro-description {
  background: #EEE;
  border: 1px solid #CCC;
  padding: 20px 30px;
  margin-left: 260px;
  min-height: 125px;
  font-size: 12px;
  line-height: 16px;
  color: #888;
}







.getting-started .fieldset-description {
  margin-bottom: 20px;
}

.getting-started .form-type-checkbox {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
}

.getting-started .form-type-checkbox:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.getting-started .form-type-checkbox > label.option {
  margin-left: 10px;
  line-height: 24px;
  font-weight: bold;
}

.getting-started .form-type-checkbox div.description {
  margin-top: 10px;
  margin-left: 0;
  font-size: 12px;
  color: #888;
}




#nodemaker-intro .nodemaker-logo {
  float: left;
}


.getting-started .fieldset-description {
  background: #EEE;
  border: 1px solid #CCC;
  padding: 20px 30px 20px 5px;
  font-size: 12px;
  line-height: 16px;
  color: #888;
}

.getting-started .fieldset-description :last-child {
  margin-bottom: 0;
}
.getting-started .fieldset-description a.nodemaker-icon-link {
  width: 100px;
  height: 100px;
}

#edit-default-content .fieldset-description {
  background: #EEE;
  border: 1px solid #CCC;
  padding: 20px 30px;
  font-size: 12px;
  line-height: 16px;
  color: #888;
}
#edit-default-content .fieldset-description :first-child {
  margin-top: 0;
}
#edit-default-content .fieldset-description :last-child {
  margin-bottom: 0;
}
.togglebox {
  border: 1px solid #CCC;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  color: #FFFFFF;
  display: block;
  float: left;
  font-weight: bold;
  height: 25px;
  overflow: hidden;
  position: relative;
  width: 80px;
}

#edit-default-content .togglebox,
#nodemaker-content-form .togglebox {
  margin-right: 10px;
}

#edit-default-content .form-type-checkbox > label,
#nodemaker-content-form .form-type-checkbox > label {
  line-height: 25px;
}

.togglebox label {
  -moz-transition: all 0.12s ease 0s;
  -webkit-transition: all 0.12s ease 0s;
  transition: all 0.12s ease 0s;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  cursor: pointer;
  font-size: 10px;
  height: 100%;
  left: -61px;
  line-height: 25px;
  position: absolute;
  top: 0;
  width: 160px;
  z-index: 1;
}



.togglebox label:before {
  background-color: #5BB75B;
  background-image: -moz-linear-gradient(center top , #62C462, #5BB75B);
  background-repeat: repeat-x;
  position: relative;
  display: block;
  
  
  color: #FFF;
  content: "done";
  float: left;
  margin-left: -4px;
  padding-left: 0;
  text-align: center;
  width: 80px;
    
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    
  
}

#edit-default-content .togglebox label:before,
#nodemaker-content-form .togglebox label:before {
  content: "keep";
}

.togglebox span {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
  background-repeat: repeat-x;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  display: block;
  float: left;
  height: 100%;
  position: absolute;
  left: 60px;
  
  width: 25px;
  z-index: 1;
  
  
  
}

.togglebox label:hover span {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F5F5F5);
}

.togglebox label:after {
  position: relative;
  display: block;
  
  background-color: #FAA732;
  background-image: -moz-linear-gradient(center top, #fbb450 0%, #FAA732 100%);
  background-repeat: repeat-x;
  content: "todo";
  float: left;
  margin-left: -5px;
  padding-right: 0;
  text-align: center;
  width: 80px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#edit-default-content .togglebox label:after,
#nodemaker-content-form .togglebox label:after {
  content: "delete";
  background-color: #DA4F49;
  background-image: -moz-linear-gradient(center top , #EE5F5B, #DA4F49);
  background-repeat: repeat-x;
  
}

.togglebox input:checked ~ label {
  left: -4px;
}